---
layout: mainpage
---
<style>

body {
  background-color: #dceaf4;
}
.container {
background-color:  #dceaf4;
}





.blogbody {
background-color: white;
padding: 20px;
-mox-border-radius: 8px;
border-radius:8px;
}


</style>


<div class="container">

<div class="row">
<div class="span1 blogbody">
before
</div>
<div class="span10 blogbody">
  {% for post in paginator.posts %}
 

  <h3><a href="{{ post.url }}">
      {{ post.title }}</a></h3> 
    <p> {{post.date}}
    <p>
    <a href="{{ post.url }}#disqus_thread"></a> 
<p><p>
      {{ post.content }}
<hr>
  {% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>


</div>

<div class="span2">
stuff
</div>

</div>

</div>
