<!DOCTYPE html>
<html>
  <head>
    <title>C'est la Z</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <body>

<div class="navbar">
<div class="navbar-inner">
<a class="brand" href="#">C'est la Z</a>
  <ul class="nav">
      <li> <a href="#">one</a></li>
      <li> <a href="#">two</a></li>
  </ul>
  <ul class="nav pull-right">
    <li><a href="#">rightside</a></li>
  </ul>
</div>
</div>
{{content}}


  </body>
</html>
