<!DOCTYPE html>
<html>
  <head>
    <title>C'est la Z</title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "f6388eca-e943-48a6-81bf-1449e29e40f4"}); </script>

  </head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <body>


<div class="row">
<div class="span3">
<img width="100px" src="/img/thluffy.png">
</div>

<div class="span10">
<h1 align=center>C'est la Z</h1>
<h3 align=center>Musing about education, computer science and maybe a few other miscellaneous topics.</h3>
<p>
</div>

</div>


<div class="navbar">
<div class="navbar-inner">
  <a class="brand" href="/">C'est la Z</a>
  <ul class="nav">
    <li><a href="http://family.stuycs.org">StuyCS Family</a></li>
      <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">StuyCS Links
	</a>
	<ul class="dropdown-menu">
	  <li><a href="http://ml7.stuycs.org">Software Development Class</a></li>
	  <li><a href="http://www.stuycs.org">Main Stuycs Site</a></li>
	  </ul>

      </li>

  </ul>
  
  <ul class="nav pull-right">
    <li><a href="/about.html">About</a></li>
  </ul>
</div>
</div>
<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">

<style>
body {
  background-color: #dceaf4;
}
.container {
background-color:  #dceaf4;
}
.blogbody {
background-color: white;
padding: 20px;
-mox-border-radius: 8px;
border-radius:8px;
}
</style>


<div class="row">
<div class="container">


<div class="span8 blogbody">

{{content}}

</div>

<div style="padding:20px" class="span2">
<div class="span3">
<a style="padding:20px" class="twitter-timeline blogbody" href="https://twitter.com/zamansky" data-widget-id="251117725303312385">Tweets by @zamansky</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<p>

<div class="blogbody">
<ul class="nav nav-list">
<li class="nav-header">Other Blogs</li>
<li class="divider"></li>
<li><a href="http://irgoandwallabe.blogspot.com/">Irgo and Wallabe</a></li>
<li><a href="http://itmoves.wordpress.com/">Abd Yet It Moves</a></li>
<li><a href="http://www.helenemartin.com/">Helene Martin's world</a></li>
</ul>
</div>


</div>

</div>





</div>
</div>




  </body>
</html>
